.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.app__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2.5rem;
  box-sizing: border-box;
}
